:root {
    --primary-color: #484a4a;
    --secondary-color: #6bb0a9;
    --tertiary-color: #d2d6d6;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: var(--tertiary-color);
}

/* header section start */
header {
    padding: 15px 30px 15px 15px;
    background-color: var(--primary-color);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

header h1 {
    background-color: var(--secondary-color);
    text-align: center;
    justify-content: center;
    padding: 10px;
}

header h1 a {
    font-size: 40px;
    color: white;
    text-decoration: none;
}

header nav {
    top: 50%;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;  
    margin: auto 0px;
}

header nav ul li {
    margin: 0 20px;
}

header nav ul li a {
    padding: 10px 20px;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

header nav ul li a:hover {
    background: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}
/* header section end */

.sections {
    display: flex;
    margin: 30px 10px;
}

.sec-title {
    flex: 1;
    padding: 10px;
    text-align: end;
}

.sec-title h2 {
    font-size: 40px;
    color: var(--primary-color);
}

.sec-info {
    flex: 4;
    padding: 20px;
    border-left: 4px solid var(--primary-color);
}

/* hero section start */

.hero {
    width: 100%;
    height: 250px;
    background-image: url(../image/hero-image.jpeg);
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    background-position: 20%;

}

.hero-subtitle {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 20px;
    margin: 0 100px 20px 0;
    font-size: 20px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
}


/* hero section end */

/* project section */
.project-list {
    padding: 20px;
}

.first-project {
    display: block;
    height: 450px;
    margin-bottom: 10px;
    border: solid 5px var(--secondary-color);
    position: relative;
}

.other-projects {
    display: flex;
    height: 150px;
    margin-bottom: 10px;

}

.project {
    width: 100%;
    border: solid 5px var(--secondary-color);
    float: left;
    position: relative;
}

.project-info {
    position: absolute;
    bottom: 0;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 15px; 
    margin-bottom: 10px;
}

.project-info h4 {
    font-weight: lighter;
}

.project-info h3 {
    margin-bottom: 5px;
}

/* project section end */

/* contact section start */

.contact-info {
}

.contact-info ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px 0;
}

.contact-info a {
    border-bottom: 4px solid var(--primary-color);
    color: var(--primary-color);
    padding: 0 5px 5px 5px;
    font-size: 20px;
    text-decoration: none;
    opacity: 0.7;
}

.contact-info a:hover {
    opacity: 1.0;
}


/* contact section end */

.space-between {
    justify-content: space-between;
}

.margin-right-project {
    margin-right: 10px;
}

