:root {
    --primary-color: #484a4a;
    --secondary-color: #6bb0a9;
    --tertiary-color: #d2d6d6;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: var(--tertiary-color);
}

/* header section start */
header {
    padding: 15px 30px 15px 15px;
    background-color: var(--primary-color);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    background-color: var(--secondary-color);
    text-align: center;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
}

header h1 a {
    font-size: 40px;
    color: white;
    text-decoration: none;
}

header nav {
    top: 50%;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;  
    margin: auto 0px;
}

header nav ul li {
    margin: 0 20px;
}

header nav ul li a {
    padding: 10px 20px;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

header nav ul li a:hover {
    background: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}
/* header section end */

.sections {
    display: flex;
    margin: 30px 10px;
}

.sec-title {
    width: 20%;
    padding: 10px;
    text-align: end;
}

.sec-title h2 {
    font-size: 40px;
    color: var(--primary-color);
}

.sec-info {
    width: 80%;
    padding: 20px;
    border-left: 4px solid var(--primary-color);
}

/* hero section start */

.hero {
    width: 100%;
    height: 250px;
    background-image: url(../image/hero-image.jpeg);
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    background-position: 20%;

}

.hero-subtitle {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    margin: 0 20px 20px 0;
    font-size: 20px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    height: 60px;
    display: flex;
    align-items: center;
}

.hero-subtitle img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-right: 5px;
}

/* hero section end */

/* project section */

.project-list {
    padding: 20px;
}

.first-project {
    display: block;
    height: 450px;
    margin-bottom: 10px;
    border: solid 5px var(--secondary-color);
    position: relative;
}

.other-projects {
    display: flex;
    margin-bottom: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project {
    width: 49%;
    border: solid 5px var(--secondary-color);
    position: relative;
    height: 150px;
}

.project-info {
    position: absolute;
    bottom: 0;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 15px; 
    margin-bottom: 10px;
}

.project-info h4 {
    font-weight: lighter;
}

.project-info h3 {
    margin-bottom: 5px;
}
/* project image */

.project-img {
    height: 100%;
    filter: blur(4px);
    -webkit-filter: blur(4px);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.project-img:hover {
    filter: blur(0px);
    -webkit-filter: blur(0px);
}

.flight-status-img {
    background-image: url(../image/flight-status.jpeg);
}

.run-buddy-img {
    background-image: url(../image/run-buddy.jpeg); 
}

.git-it-done-img {
    background-image: url(../image/git-it-done.jpeg);
}

.taskmaster-pro-img {
    background-image: url(../image/taskmaster-pro.jpeg);
}

.taskinator-img {
    background-image: url(../image/taskinator.jpeg);
}

.swindle-shop-img {
    background-image: url(../image/swindle-shop.jpeg);
}

.boundListAdventures-img {
    background-image: url(../image/boundListAdventures.jpeg);
}

/* project section end */

/* contact section start */

.contact-info ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px 0;
}

.contact-info li {
    margin-bottom: 20px;
}

.contact-info a {
    border-bottom: 4px solid var(--primary-color);
    color: var(--primary-color);
    padding: 0 5px 5px 5px;
    font-size: 20px;
    text-decoration: none;
    opacity: 0.7;
}

.contact-info a:hover {
    opacity: 1.0;
}

/* contact section end */

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 1000px) {
    header {
        justify-content: center;
        position: relative;
        padding: 15px;
    }
    
    header h1 {
        width: 100%;
    }

    header nav {
        margin: 30px 0 10px 0;
    }

    header nav ul{
        width: 100%;
    }

    .sections {
        flex-wrap: wrap;
        justify-content: center;
    }

    .sec-title {
        padding: 10px;
        text-align: center;
        border-bottom: 4px solid var(--primary-color);
        width: 50%;
    }
    
    .sec-info {
        width: 100%;
        padding: 20px;
        border-left: 0px;
    }

    .sec-info p {
        text-align: center;
    }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 786px) {
    header nav ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        list-style: none;  
        margin: auto 0px;
        justify-content: space-between;
    }
    
    header nav ul li {
        margin: 0px;
    }

    .contact-info li {
        margin-right: 10px;
    }

    .first-project {
        height: 300px;
    }

    .other-projects {
        margin-bottom: 0px;
    }

    .project {
        width: 100%;
        margin-bottom: 10px;
    }

    .project-img {
        filter: blur(0px);
        -webkit-filter: blur(0px);
    }

}